.NavBar{
    text-align: center;
    background-color: black;
    /*padding: 20px;*/
}
.NavBar a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px;
    width: 100px;

}
.NavBar a:hover{
    background-color: lightgray;
    color: black;
}
@media only screen and (max-width: 600px){
    .NavBar a{
        display: block;
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
}