body{
  background-color: rgb(131, 131, 131);
}

.App-logo {
  float: left;
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 30px;
  margin: 10px;
}

.App-header {
  text-align: center;
  vertical-align: middle;
  
  background-color: #F36E21;
  padding: 20px;
  color:black;
  overflow: auto;
  z-index: 1;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  z-index: 0;
  font-size: large;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f8f7ed;
  padding: 20px;
  -webkit-box-shadow: 0px 29px 45px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 29px 45px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 29px 45px 0px rgba(0,0,0,0.75);
  word-wrap: break-word;
}


#TimeLapse{
  text-align: center;
}
